@charset 'utf-8';
/*
@import 'settings';
@import 'foundation';
@import 'motion-ui';


// Global styles
@include foundation-global-styles;
//Grids
@include foundation-xy-grid-classes;

@include foundation-visibility-classes;

@import "foundation/reset";
@import "foundation/typography";
@import "foundation/color";

@import "layout/layout";

@import "component/component";
@import "component/imgblock";

@import "project/project";

@import "utility/margins";
@import "utility/text-align";
@import "utility/bg";
@import "utility/color";
@import "utility/full-width";
@import "utility/font";


////// wp ///////
@import "block/block";
*/


.wp-block {
  max-width: 800px;  /* 好きな幅で */
}

.p-recipe{
  background:red;

}

.point_list{
  background:orange;

}

.point_list2{
  background:blue;

}