.p-archive-recipes{
  list-style: none;
  padding-left:0;

  @include xy-grid;
  @include xy-gutters($negative: true);

  >.e-item{
    @include xy-cell(6);

    @include breakpoint(medium){
      @include xy-cell(3);
    }

    margin-bottom: 20px;
    >.e-link{
      &,&:visited{
        color:inherit;
        text-decoration: none;
      }

      >.e-thumb{
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 10px;
      }
      >.e-title{
        font-weight: normal;
        line-height: 1.2;
        margin-top: 0px;
        margin-bottom: 8px;
        font-size:inherit;
      }
      >.e-tags{
        margin:0;
        list-style: none;
        padding-left:0;

        font-size: 9px;
        >.e-tag{
          display: inline-block;
          &::before{
            content:"#";
            margin-right: .5ex;
          }
          
          &.m-current{
            font-weight: bold;
          }
        }
      }
    }
  }
}