
//パンクズリスト 
.p-recipe-bc{
  list-style: none;
  padding: 0;

  padding: 12px 10px;

  margin: 0;

  >.e-item{
    display: inline-block;

    &:not(:last-child)::after{
      content: "";
      display: inline-block;
      width: .9em;
      height: .9em;
      margin-left:3px;
      margin-right:3px;

      border: 1px solid;
      border-width: 0 1px 1px 0;
      transform: rotate(-45deg) scale(0.5,0.5);
    }

    >.e-link{
      color: inherit;
      text-decoration: none;

      &:visited{
        color: inherit;
        text-decoration: none;
      }

      &.m-now{
        font-weight: bold;
      }
    }
  }
}


//次へ前へ 
.p-recipe-prev-next{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  padding: 0;

  >.e-button{
    width: 50%;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;

    &.m-prev{
      background-color: #e5dec4;
      padding-left: 10px;

      >.e-link{
        &::before{
          transform: rotate(135deg);
          margin-right: 5px;
        }
      }
    }

    &.m-next{
      flex-flow: row-reverse;
      padding-right: 10px;

      >.e-link{
        flex-flow: row-reverse;



        &::before{

          transform: rotate(-45deg);
          margin-left: 5px;
        }

      }
    }
    

    .e-link{
      display: flex;
      align-items: center;
      padding: 10px 0;
      color: inherit;
      text-decoration: none;


      &::before{
        flex: 0 0 auto;
        content: "";
        display: inline-block;
        width: 1ex;
        height: 1ex;
        border: 1px solid;
        border-width: 0 1px 1px 0;
        //transform: rotate(135deg);
        //margin-right: 5px;
        @include breakpoint(small only){
          display: none;
        }
      }

      .e-image{
        width: 40px;
        height: auto;
      }
      .e-title{
        font-size: rem-calc(14);
        margin: 0 10px;
      }
    }
  }
}



//ヘッダー 
//タグ・サムネ・説明文
.p-recipe-header{

  margin-bottom: 20px;

  >.e-tags{
    list-style: none;
    padding-left: 0;
    margin:0;
    text-align: right;

    >.e-tag{
      display: inline-block;
      margin-left: .8em;

      &::before{
        content: "#";
        margin-right: .1em;
      }

      &.m-current{
        font-weight: bold;
      }
    }


  }
  


}

.p-recipe-thumb{
  display: block;
  widows: 100%;
  margin-bottom: 25px;
  text-align: center;

  @include breakpoint(medium){
    text-align: left;
  }


  img{
    max-height: 60vh;


  }
}

.p-recipe-desc{
  font-weight: bold;
  margin-bottom: 38px;
}

//３つの横並びリンク 
.p-recipe-nav{
  background: $satomi-cream;
  padding:8px 10px;
  margin-bottom: 14px;

  @include breakpoint(large){
    display: none;

  }

  >.e-buttons{
    list-style: none;
    padding-left:0;
    margin:0;
    @include xy-grid();

    >.e-button{
      @include xy-cell(4);
    }
  }
}

//材料の表 
.p-recipe-ingredients-table{
  width: 100%;
  margin-bottom: 22px;



  >table{
    width: 100%;
    border-collapse: collapse;
    border:0;

    >tbody{
      >tr{
        >th,
        >td{
          border:0;
          border-bottom: 1px solid #999;
          margin-bottom: 5px;
          padding-top:15px-3px;
          padding-bottom:5px-3px;

          em{
            font-style: normal;

            color: lighten($satomi-red, 30);
            &::before{
              content:"«"
            }
            &::after{
              content:"»"
            }
          }
          strong{
            color: $satomi-red;

          }
        }

        

        >.e-name,>:first-child,>th{
          text-align: left;
          padding-left: 10px;
          font-weight: bold;
        }
        >.e-quantity,>:last-child,>td{
          text-align: right;
          padding-right: 10px;
          white-space: nowrap;
        } 
      }
    }
  }
}

//作り方のリスト 
.p-recipe-directions-list{

  padding-left:34px;
  list-style: none;

  >.e-direction,>li{
    
    min-height: 1em;
    margin-bottom:12px;
    counter-increment: direction;
    position: relative;
    
    &::before{
      position: absolute;
      top:0;
      left: -1em;
      content: counter(direction);

      font-weight: bold;
      font-size: rem-calc(18);
      line-height: 1;
    }

  }

  




}

//ポイントのリスト 
.p-recipe-points{
  background-color: $satomi-cream;

  @include breakpoint(small down){
    @include xy-gutters($negative:true, $gutters:$grid-container-padding);
  }
  @include xy-gutters($gutter-type:padding, $gutters:$grid-container-padding);
  padding-bottom: 21px;

}

.p-recipe-points-list{
  padding-left: 34px;
  list-style: none;

  >.e-item,
  >li{
    position: relative;
    margin-bottom: 12px;
    &::before{
      position: absolute;
      content:"●";
      top:0;
      left:-1.5em;

    }

  }

}



.p-recipe-todo{
  >li{
    &.m-done{
      text-decoration: line-through;

    }

  }

}



