

.p-top-recipe-grid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  height: 225px;
  margin:0;
  padding:0;
  list-style: none;
  width: 100%;
  overflow: scroll;

  align-items: flex-start;
  align-content: flex-start;

  @include breakpoint(medium){
    height: 320px;
  }

  @include breakpoint(large){
    height: 400px;
  }
  

  >.e-item{
    padding:0;
    margin:0;
    height: 50%;

    >.e-link{
      display: block;
      height: 100%;
      position: relative;

      >.e-image{
        height: 100%;
        width: auto;
      }

      >.e-title{
        position: absolute;
        left:0;
        right:0;
        bottom:0;

        height: 100% / 240 * 70;
        margin: 0;

        background-color: rgba(#000, 0.5);

        line-height: 15px;
        padding: 2.5px 10px;

        font-size: rem-calc(10);
        color:rgba(white,1);
        overflow: hidden;

        @include breakpoint(medium){
          font-size: rem-calc(12);
        }

        @include breakpoint(large){
          line-height: 20px;
          font-size: rem-calc(14);
        }
      }
    }
  }
}

.p-top-recipe-type{
  background: $satomi-cream;
  padding: 15px 0;
  margin-bottom: 22px;
  font-weight:bold;

  >.e-inner{
    @include xy-grid-container;
    display: flex;
    >.e-col{
      flex: 1 0 0;

      &:first-child{
        margin-right: 10px;

      }
    
    }
  }
}

.p-top-kisetsu{
  >.e-shun{
    display: inline-flex;
    margin-bottom: 10px;
    align-items: center;

    >.e-title{
      flex: 0 0 auto;
      position: relative;
      display: inline-flex;
      width: 50px;
      height: 50px;

      margin: 0 10px;

      justify-content: center;
      align-items: center;
      
      background: #e7a634;
      font-size: 10px;
      font-weight: bold;
      color:white;

      border-radius: 50%;

      &::before{
        content: "";
        display:block;
        position: absolute;
          top:3px;left:3px;right:3px;bottom:3px;
        border: 1px solid white;
        border-radius: 50%;
      }
    }
    >.e-banner{

    }
    >.e-balance{
      flex: 0 0 auto;
      width: 50px + 10px * 2;

    }
  }
  >.e-banners{
    >.e-cell{
      >.e-link{
        >.e-image{

        }
      }
    }
  }
}


.p-top-osusume{
  background: $satomi-cream;

  @include xy-gutters(
    $gutters: $grid-container-padding,
    $gutter-type: padding,
  );

  padding: 20px;

  text-align: center;

  >.e-title{
    display: inline-flex;
    height: rem-calc(28);
    background: $satomi-red;
    color: white;
    border-radius: 5px;
    align-items: center;

    padding: 0 10px;
    margin-bottom: 14px;

    position: relative;

    &::after{
      content:"";
      position: absolute;
        left:0;
        right:0;
        bottom: -8px;

      margin: 0 auto;

      display: block;
      width: 24px;
      height:8px;
      border-top: 8px solid $satomi-red;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;

    }

    >.e-icon{
      flex: 0 0 auto;
      align-self: flex-end;

      margin-right: 3px;

      >.e-image{
        height: rem-calc(40);

      }
    }
    >.e-osusume{
      margin:0;
      line-height:1;
      font-weight: bold;
      white-space: nowrap;

    }
    >.e-kuwashiku{
      margin:0;
      margin-left:1em;
      line-height:1;
      font-size: rem-calc(10);
      white-space: nowrap;
    }

  }

  >.e-banners{
    >.e-cell{
      >.e-link{
        >.e-image{

        }
      }
    }
  }
}

.p-top-osagashi{
  overflow: hidden;
  border-radius: 5px;

  >.e-header{
    background-color: $satomi-dark-cream;
    display: flex;
    align-items: flex-end;
    padding: 16px 10px;
    line-height: 1;

    >.e-heading{
      flex: 0 0 auto;
      font-size: rem-calc(17);
      font-weight: bold;
      margin:0;
      white-space: nowrap;
    }

    >.e-desc{
      flex: 0 1 50%;
      font-size: rem-calc(9);
      margin:0;
      margin-left: auto;
      text-align: right;
    }
  }
  >.e-def-list{
    margin:0;
    >.e-title{
      background-color: $satomi-cream;
      border-top: 1px solid $satomi-dark-cream;
      border-bottom: 1px solid $satomi-dark-cream;
      padding: 14px 10px;
      position: relative;
      margin-bottom: -1px;


      &:after{
        @extend .c-css-icon.m-arrow;
        position: absolute;
          top:0;
          right:0;
          bottom:0;
        margin: auto 14px;

        transition:transform .5s;
      }

      &.m-opened{
        &:after{
          transform: translate(0, 3px) rotate(-135deg);
        }
        + .e-content{
          @extend .m-opened;

        }
      }
    }
    >.e-content{
      margin: 0;
      line-height: (48 / 27);

      max-height: 0;
      overflow: hidden;

      transition: max-height .5s;
      &.m-opened{
        max-height: 80vh;
      }

      >.e-inner{
        padding: 16px 7px;
        p{
          margin: 0;
        }

        >.e-button-wrapper{
          padding: 20px 0 38px;
          text-align: center;

          >.e-button{
            display: inline-block;
            background:$satomi-dark-cream;
            min-width: 240px;
            padding: 10px;
            text-align: center;
            border-radius: 5px;

            &,&:hover,&:visited{
              color: $black;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
