@for $i from 10 through 60 {
  .u-fs-#{$i}{
      font-size:#{$i}px;
  }
}


@for $i from 10 through 60 {
  .u-small-fs-#{$i}{
      @include breakpoint(small only){
          font-size:#{$i}px;
      }
  }
}

.u-font-bg-yellow{
  background-color:#f8f36f;
}

.u-fw-normal{
  font-weight:normal;
}

.u-font-small{
  font-size:small;
}

.u-font-twice{
  font-size:2em;
}

.u-font-bold{
  font-weight: 600;
}

.u-font-sans {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Verdana, sans-serif;
}
.u-font-serif {
  font-family: "Noto Serif JP", Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}