.u-full-width{
  @include breakpoint(medium down){
    //grid-containerのpaddingをキャンセルする
    @include xy-gutters(
      $gutters: $grid-container-padding,
      $gutter-type: margin,
      $negative: true
    );

    box-sizing: border-box;
  }
}