@for $i from 0 through 20 {
    .u-mb-#{$i}{
        margin-bottom:  $i*10px !important;
    }
    .u-pb-#{$i}{
        padding-bottom: $i*10px !important;
    }
}

@include breakpoint(small only){
    @for $i from 0 through 20 {
        .u-small-mb-#{$i}{
            margin-bottom: $i*10px !important;
        }
        .u-small-pb-#{$i}{
            padding-bottom: $i*10px !important;
        }
    }
}


@for $i from 0 through 20 {
    .u-mt-#{$i}{
        margin-top: $i*10px !important;
    }
    .u-pt-#{$i}{
        padding-top: $i*10px !important;
    }
}

@include breakpoint(small only){
    @for $i from 0 through 20 {
        .u-small-mt-#{$i}{
            margin-top: $i*10px !important;
        }
        .u-small-pt-#{$i}{
            padding-top: $i*10px !important;
        }
    }
}

@for $i from 0 through 20 {
    .u-mr-#{$i}{
        margin-right: $i*10px !important;
    }
    .u-pr-#{$i}{
        padding-right: $i*10px !important;
    }
}

@include breakpoint(small only){
    @for $i from 0 through 20 {
        .u-small-mr-#{$i}{
            margin-right: $i*10px !important;
        }
        .u-small-pr-#{$i}{
            padding-right: $i*10px !important;
        }
    }
}


@for $i from 0 through 20 {
    .u-ml-#{$i}{
        margin-left: $i*10px !important;
    }
    .u-pl-#{$i}{
        padding-left: $i*10px !important;
    }
}

@include breakpoint(small only){
    @for $i from 0 through 20 {
        .u-small-ml-#{$i}{
            margin-left: $i*10px !important;
        }
        .u-small-pl-#{$i}{
            padding-left: $i*10px !important;
        }
    }
}
