.u-text-align-left{
    text-align:left;
}
.u-text-align-center{
    text-align:center;
}


.u-text-align-right{
    text-align:right;
}

@include breakpoint(small only){
    .u-small-text-align-left{
        text-align:left; 
    }
}



@include breakpoint(small only){
    .u-small-text-align-center{
        text-align:center;
    }
}


@include breakpoint(small only){
    .u-small-text-align-right{
        text-align:right;
    }
}
