

.c-button{
  display: inline-flex;
  min-height: 44px;
  justify-content: center;
  align-items:center;

  background: $satomi-cream;
  padding: 0 3px;
  border-radius: 5px;
  text-align: center;

  &,&:visited{
    color:inherit;
    text-decoration: none;
  }

  &.m-selected{
    background: $satomi-orange;
    outline: none;
  }

  >.e-icon{
    width: 1.2em;
    height:1.2em;
    margin-right: 0.6em;
  }

  &.m-border{
    background-color:white;
    border: 2px solid $satomi-dark-cream;
  }
  &.m-full{
    width: 100%;
  }
  &.m-high{
    height: 60px;

  }

}