.c-cond-bar{
  background: white;

  padding: 8px 0px;
  box-shadow: 0px -2px 2px rgba(#000,.2);

  font-size: inherit;
  font-weight: inherit;

  &.m-top-bar{
    box-shadow: none;
    margin-right:0;
    padding: 0;
    >.e-inner{
      padding:0;
    }
  }

  &.m-heading{
    background: $satomi-dark-cream;
    min-height: auto;
    box-shadow: none;

    
    position: sticky;
    top:$header-height;
    left:0;
    right:0;

    >.e-conds>.e-cond{
      background: white;

    }

  }

  >.e-inner{

    height: 100%;
    display: flex;
    align-items: center;

    @include xy-grid-container();

    >.e-conds{
      flex: 1 1 100%;
      margin-bottom: -3px;
      margin-right: -3px;

      letter-spacing: -.4em;//スペースが開いてしまうのを防ぐ



      >.e-cond{
        display: inline-block;
        background: $satomi-cream;
        padding: 6px 10px;
        margin-right: 3px;
        margin-bottom: 3px;

        border-radius:5px;

        letter-spacing: normal; //親要素の継承を元に戻す
      }
      >.e-norecipe{
        display: inline-block;
        letter-spacing: normal;//親要素の継承を元に戻す
      }
    }

    >.e-form{
      flex: 0 0 auto;
      display: inline-block;

      >.e-input{
        display:none;
      }
      >.e-button{
        display: inline-block;
        margin-left: 5px;
        font-weight: bold;
        background: $satomi-red;
        padding: 6px 8px;

        line-height: 1.2;
        color:white;
        border-radius: 5px;

        text-align: center;
        text-decoration: none;

        //ここにアニメーションをつける


        &.m-attention{
          animation-name: rotation;
          animation-duration: .3s;
          animation-timing-function: ease;
          animation-delay: 0s;
          animation-iteration-count: 4;
          animation-direction: alternate;
          animation-fill-mode: both;
          animation-play-state: running;
        }
        @keyframes rotation {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(1.1);
            background: lighten($satomi-red,10%);
          }
        }

      }
    }
  }
}

