.c-css-icon{
  &.m-arrow{
    &:after{
      content:" ";
      display: inline-block;

      width: 8px * 1.41;
      height: 8px * 1.41;
      border: 1px solid #707070;
      border-width:  0px 1px 1px 0 ;
      transform: translate(0, -3px) rotate(45deg);
    }
  }
}