.c-global-menu{
  &.m-shown{
    >.e-shadow{
      @extend .m-shown;
    }
    >.e-content{
      @extend .m-shown;
    }
    >.e-cond-bar{
      @extend .m-shown;
    }
  }

  &:not(.m-inline){
    @include breakpoint(large){
      //display: none;
    }

  }

  &.m-inline{

    background: $satomi-dark-cream;
    padding-bottom:20px;
    margin-bottom:20px;

    >.e-shadow{
      display:none;
    }

    >.e-content{
      position: static;

      @include xy-gutters($gutter-type:padding, $gutters:$grid-container-padding);

      width: 100%;
      max-width: none;
      padding-bottom: 0;
    }

    >.e-cond-bar{
      position: sticky;
        top: 20px;
        bottom:0;
        z-index:1;
    }

  }

  >.e-shadow{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(#000,0.5);
    height: 0;
    opacity: 0;

    transition: opacity .5s;

    &.m-shown{
      height: auto;

      opacity: 1;
    }

  }

  >.e-content{
    position: fixed;
    top:0;
    right: -100%;
    bottom: 0;
    z-index: 2;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width: 320px;
    max-width: calc(100vw - 20px);

    background: $satomi-dark-cream;

    padding-left: 13px;
    padding-bottom: $top-bar-height;
    border-bottom: 1px solid transparent;

    transition: right .5s;

    font-size: rem-calc(14);


    &.m-shown{
      right: 0%;
    }

    >.e-header{
      position: sticky;
        top:0;
        z-index: 1;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: rem-calc(16);
      background-color: $satomi-dark-cream;
      >.e-title{
        font-size: inherit;
        font-weight: normal;
      }

      >.e-close-button{
        position: absolute;
          top:0;
          right:0;
          bottom:0;
        margin: auto 0;

        width: 40px;
        height: 40px;

        &::before,
        &::after{
          content: "";
          display: block;
          border-top: 1px solid black;
          width:20px*1.41;
        }
        &::before{
          transform: translate(10px,10px) rotate(45deg);
          transform-origin: left top;
        }
        &::after{
          transform: translate(9px,29px) rotate(-45deg);
          transform-origin: left top;
        }
      }
    }
    >.e-group{
      background: white;
      //c-search-tags
      margin-bottom: 20px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      overflow: hidden;

      >.e-content{
        padding: 15px 10px 20px;
      }
    }
  }

  >.e-cond-bar{
    position: fixed;
    left:0;
    right:0;
    bottom:-100%;
    z-index: 3;

    min-height: $top-bar-height;

    transition: bottom .5s;

    &.m-shown{
      bottom:-0px;
    }

  }
}
