.c-h2{
  padding: 9px;
  border-bottom: 2px solid;
  margin:0;
  margin-bottom: 20px;

  font-size: rem-calc(18);
  font-weight: bold;
  color: $satomi-red;


  &.m-no-margin{
    margin:0;
  }

  &.m-font-black{
    color: inherit;
    border-color: $satomi-red;
  }
  
  &.m-icon{
    padding-left: 2em;
    background: url(../img/icon_kabu.svg) no-repeat left .2em center / 1.4em ;

    &.m-ingredients{
      background-image: url(../img/icon_kabu.svg);
    }
    &.m-directions{
      background-image: url(../img/icon_houchou.svg);
    }
    &.m-points{
      background-image: url(../img/logo_satomi.svg);
      background-size: 1.6em;
    }
  }

  >.e-icon{
    height:1.2em;
    width:auto;
    display: inline-block;
    vertical-align: center;
    position: relative;
      top:-.1em;
    margin-right: .5em;
  }
}


.c-h3{
  padding: 0 9px;
  margin:0;
  margin-bottom: 20px;

  font-size: rem-calc(16);
  font-weight: bold;
  color: $satomi-red;


  &.m-no-margin{
    margin-bottom:0;
  }

  &.m-font-black{
    color: inherit;
    border-color: $satomi-red;
  }

  >.e-icon{
    height:1.2em;
    width:auto;
    display: inline-block;
    vertical-align: center;
    position: relative;
      top:-.1em;
    margin-right: .5em;
  }
}