.c-osusume-banners{
  @include xy-grid;
  margin-bottom: 40vh;

  >.e-item{

    color:inherit;
    text-decoration: none;

    text-align: center;
    @include xy-cell(6);

    @include breakpoint(medium){
      @include xy-cell(3);
    }

    position: relative;

    &.m-using{

      &::before{
        box-sizing: content-box;
        content: "レシピ で使用";
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 3em;
        height: 3em;
        padding: 1em;
        border-radius: 50%;
        color: white;
        position: absolute;
        right:-10px;
        top:-10px;
        background: $satomi-orange;
        font-weight: bold;
        line-height: 1.2;

        animation-name: blink;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: both;
        animation-play-state: running;

        @include breakpoint(medium down){
          font-size: 14px;
          padding: .5em;
        }

        @keyframes blink{
          0% {
            transform: scale(1) rotate(10deg);
          }
          100% {
            transform: scale(1.1) rotate(13deg);
            background: lighten($satomi-orange,5%);
          }
        }
      }
    }
  }
}