
.c-pagenation{
  display: flex;

  list-style: none;
  padding-left: 0;
  justify-content: center;
  margin: 30px 0;

  .e-item{
    width: 45px;
    height: 45px;
    margin-right: 20px;
    &:last-child{
      margin-right: 0px;
    }

    &.m-current{
      >.e-link{
        background: $satomi-red;
        color: white;
      }
    }

    .e-link{
      border-radius: 10px;
      width:100%;
      height:100%;
      display: block;
      line-height: 45px;
      text-align:center;
      color: $black;
      text-decoration: none;
      background: $satomi-cream;


    }
  }
}