

.c-search-text{
  position: relative;
  >.e-input{
    display: block;
    width: 100%;

    height: 40px;

    border: 1px solid #ccc;
    border-radius: 5px;


    &:focus{
      outline-color: #791537;

    }
  }

  >.e-button{
    position: absolute;
      top:0;
      right:0;
      bottom:0;

    display: block;

    border: 0;

    margin-left: 5px;
    font-weight: bold;
    background: #791537;
    padding: 6px 8px;
    line-height: 1.2;
    color: white;
    border-radius: 0 5px 5px 0;
    text-align: center;
    text-decoration: none;


    &:focus{
      outline-color: #791537;

    }
  }
}