
.c-shimai{

  >.e-col{
    display: flex;
    flex-direction: column;

    &,&:visited{
      color: inherit;
      text-decoration: none;

    }

    >.e-title{


      color: $satomi-red;
      margin:0;
      margin-bottom: 10px;
      line-height: 1;
      font-size: rem-calc(16);
    }

    >.e-name{
      
      margin:0;
      margin-bottom: 20px;
      

    }
    
    >.e-banner{
      align-self: flex-start;
      margin-top: auto;
      max-height: 40vw;
      width: auto;

    }
  }
}
