
.c-shokuzai-tags{
  &.m-opened{
    >.e-list{
      @extend .m-opened;

    }
    >.e-open-button{
      @extend .m-opened;
    }

  }
  >.e-list{
    margin-top:0;
    margin-right: -10px;
    padding-left: 0;
    letter-spacing: -.4em;
    margin-bottom: 23px-10px;

    max-height: 10vh;
    overflow: hidden;

    transition: max-height .3s ;

    &.m-opened{
      transition: max-height 1s ;
      max-height: 100vh;
      
      overflow: auto;

    }


    >.e-item{
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 8px;

      >.e-link{
        display: block;
        background: $satomi-cream;
        padding:8px 10px;

        outline: none;
        

        letter-spacing: normal;
        line-height: 1;
        border-radius: 5px;
        &,&:visited{
          color: inherit;
          text-decoration: none;
        }

        &.m-selected{
          background: $satomi-orange;

        }
      }

    }
  }

  >.e-open-button{
    display: block;
    text-align: center;

    line-height: 2;

    width: 100%;
    outline: none;


    &.m-opened{

      &::before{
        content: "一部のみ表示";
      }

      &::after{
        transition: transform .5s ;
        transform: translate(0, 3px)rotate(-135deg);
      }
    }

    &::before{
      content: "全ての食材を見る";
    }

    &:after{
      @extend .c-css-icon.m-arrow;
      margin-left: 5px;
      transition: transform .1s ;

    }

  }
}
