.c-top-bar{
  position: fixed;
  top:0;
  right:0;
  left:0;
  height: $top-bar-height;
  min-width: 320px;

  padding-top: 12px;
  padding-bottom: 12px; 

  background: white;
  z-index: 2;

  box-shadow: 0 0 2px rgba(#000,0.5);

  &.m-admin-bar{
    top:47px;
    
    @include breakpoint(medium){ //厳密には違うんだが
      top:35px;

    }

  }


  >.e-inner{
    display: flex;
    height: 100%;

    @include xy-grid-container();

    @include breakpoint(large){
      @include xy-grid-container($width:map-get($breakpoints,xlarge));

    }

    >.e-top-link{
      flex: 0 0 auto;
      display:flex;

      &,&:visited{
        color: inherit;
        text-decoration: none;
      }

      >.e-icon{
        flex: 0 0 auto;
        margin-right: 5px;
        width: 37px;
        >img{
          height: 105%;

        }
      }

      >.e-titles{
        flex: 1 0 0;
        margin: 0;
        position: relative;

        >.e-satomino{
          margin-bottom: 7px;
          color: $satomi-red;
          font-size: 12px;
          font-weight: normal;
          line-height: 1;
        }
        >.e-recipe{
          color: $satomi-red;
          font-size: 17px;
          line-height: 1;
        }
        >.e-tsukemono-ryori{
          font-size: 10px;
          font-weight: normal;
          position: absolute;
            left: 81px ;
            top:0;
          white-space: nowrap;

          &::before{
            content: "＼";
          }

          &::after{
            content: "／";
          }
        }
      }

    }

    >.e-buttons{
      flex: 0 0 auto;
      margin-left: auto;
      display: inline-flex;

      line-height: 1;
      height: 100%;
      justify-content: flex-end;

      >.e-button{
        flex: 0 0 auto;
        height: 100%;

        display: flex;
        align-items: center;



        &,&:visited{
          color:inherit;
          text-decoration: none;
        }

        &:not(:first-child){
          margin-left: 13px;
        }
        text-align: center;

        &.m-tel{

        }
        &.m-search{

        }

        >.e-icon-title{
          display: flex;
          height: 100%;

          flex-direction: column;
          justify-content: space-between;

          align-items: center;

          >.e-icon{
            flex: 1 1 24px;
            img{
              display: block;
              height:24px;
            }
          }
          >.e-title{
            flex: 0 0 auto;
            
            font-size: 8px;
            line-height: 1;
            margin:0;
            margin-top: auto;
            padding:0;
            white-space: nowrap;

          }
        }
        >.e-content{
          margin-left: .5em;
          display: none;

          &.m-tel{
            @include breakpoint(medium){
              display: block;
            }

            font-size: 18px;

          }

          &.m-search{
            @include breakpoint(large){
              display: block;
            }

          }

        }
      }
    }
  }
}
