.l-main-sub{
  @include xy-grid-container($width:map-get($breakpoints,xlarge),$padding:0);

  display: flex;
  flex-wrap: wrap;



  >.e-main{

    width:100%;

    @include breakpoint(large){
      flex: 1 1 50%;
      
    }
  }
  >.e-sub{
    width:100%;

    @include breakpoint(medium down){
      order:3;
    }

    @include breakpoint(large){
      flex: 0 0 320px;
      margin-left:  20px;
    }
  }
  >.e-bottom{
    width:100%;


    @include breakpoint(medium down){
      order:2;
    }


  }
}